button{
    display: inline-block;
    color: #008000;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
}

button:hover{
    color: #111;
    background: #39ff14;
    box-shadow: 0 0 50px #39ff14;
}